
// - Спикеры
-
	var speakers_list = [
	{
		name: "Kenneth kneeland 1",
		fotoSpeaker: "../images/img-01.1.jpg",
		position: "Manager, CEO 1",
		description: "Consectetur adipisicing elit sed doismod tempor incididunt labore 1",
		socialIcons: [
			{"facebook": "##/"},
			{"twitter": "#"},
			{"linkedin": "#"},
			{"google-plus": "#"},
			{"rss": "#"}
		]
	},
	{
		name: "Kenneth kneeland 2",
		fotoSpeaker: "../images/img-02.jpg",
		position: "Manager, CEO 2",
		description: "Consectetur adipisicing elit sed doismod tempor incididunt labore 2",
		socialIcons: [
		{"facebook": "##/"},
		{"twitter": "#"},
		{"google-plus": "#"},
		{"rss": "#"}
		]
	},
	{
		name: "Kenneth kneeland 3",
		fotoSpeaker: "../images/img-03.jpg",
		position: "Manager, CEO 3",
		description: "Consectetur adipisicing elit sed doismod tempor incididunt labore 3",
		socialIcons: [
		{"facebook": "##/"},
		{"twitter": "#"},
		{"linkedin": "#"},
		{"google-plus": "#"},
		{"rss": "#"}
		]
	},
	{
		name: "Kenneth kneeland 4",
		fotoSpeaker: "../images/img-04.jpg",
		position: "Manager, CEO 4",
		description: "Consectetur adipisicing elit sed doismod tempor incididunt labore 4",
		socialIcons: [
		{"facebook": "##/"},
		{"twitter": "#"},
		{"linkedin": "#"},
		{"google-plus": "#"},
		{"rss": "#"}
		]
	}
	];


// - Вкладки с датами
-
	var day_number_list = {
	day_1: "01",
	day_2: "02",
	day_3: "03"
	};
-
	var data_event_list = {
	data_1: "June 27, 2017",
	data_2: "June 28, 2017",
	data_3: "June 29, 2017",
	data_4: "June 30, 2017"
	};


// - Вкладки с конферециями
-
	var conference = [
	{
		hall_name: "Alexa neo Hall",
		tab_index: "tab-1",
		event_list: [
		{
			day_number: day_number_list.day_1,
			data_event: data_event_list.data_1,
			time_event: "09:00 am - 09:30 am",
			title_event: "Gathering & Welcome Speech",
			description_event: "1Consectetur adipisicing elit sed do eiusmod tempor incididunt labore dolore magna " +
			"aliqua enim ad minim veniam quis nostrud exion ullaoaris nisi ut aliquipa ex ea commodo consequat aute irure dolor.",
			speaker_event: speakers_list[0[name]]
		},
		{
			day_number: day_number_list.day_1,
			data_event: data_event_list.data_1,
			time_event: "09:30 am - 10:30 am",
			title_event: "Gathering & Welcome Speech",
			description_event: "2Consectetur adipisicing elit sed do eiusmod tempor incididunt labore dolore magna " +
			"aliqua enim ad minim veniam quis nostrud exion ullaoaris nisi ut aliquipa ex ea commodo consequat aute irure dolor.",
			speaker_event: speakers_list[1[name]]
		}
		]
	},
	{
		hall_name: "Rhino hall",
		tab_index: "tab-2",
		event_list: [
		{
			day_number: day_number_list.day_1,
			data_event: data_event_list.data_1,
			time_event: "09:00 am - 09:30 am",
			title_event: "Gathering & Welcome Speech",
			description_event: "3Consectetur adipisicing elit sed do eiusmod tempor incididunt labore dolore magna " +
			"aliqua enim ad minim veniam quis nostrud exion ullaoaris nisi ut aliquipa ex ea commodo consequat aute irure dolor.",
			speaker_event: speakers_list[0[name]]
		},
		{
			day_number: day_number_list.day_1,
			data_event: data_event_list.data_1,
			time_event: "09:30 am - 10:30 am",
			title_event: "Gathering & Welcome Speech",
			description_event: "4Consectetur adipisicing elit sed do eiusmod tempor incididunt labore dolore magna " +
			"aliqua enim ad minim veniam quis nostrud exion ullaoaris nisi ut aliquipa ex ea commodo consequat aute irure dolor.",
			speaker_event: speakers_list[1[name]]
		}
		]
	},
	{
		hall_name: "Crystal hall",
		tab_index: "tab-3",
		event_list: [
		{
			day_number: day_number_list.day_1,
			data_event: data_event_list.data_1,
			time_event: "09:00 am - 09:30 am",
			title_event: "Gathering & Welcome Speech",
			description_event: "5Consectetur adipisicing elit sed do eiusmod tempor incididunt labore dolore magna " +
			"aliqua enim ad minim veniam quis nostrud exion ullaoaris nisi ut aliquipa ex ea commodo consequat aute irure dolor.",
			speaker_event: speakers_list[0[name]]
		},
		{
			day_number: day_number_list.day_1,
			data_event: data_event_list.data_1,
			time_event: "09:30 am - 10:30 am",
			title_event: "Gathering & Welcome Speech",
			description_event: "6Consectetur adipisicing elit sed do eiusmod tempor incididunt labore dolore magna " +
			"aliqua enim ad minim veniam quis nostrud exion ullaoaris nisi ut aliquipa ex ea commodo consequat aute irure dolor.",
			speaker_event: speakers_list[1[name]]
		}
		]
	},
	{
		hall_name: "Mystry hall",
		tab_index: "tab-4",
		event_list: [
		{
			day_number: day_number_list.day_1,
			data_event: data_event_list.data_1,
			time_event: "09:00 am - 09:30 am",
			title_event: "Gathering & Welcome Speech",
			description_event: "7Consectetur adipisicing elit sed do eiusmod tempor incididunt labore dolore magna " +
			"aliqua enim ad minim veniam quis nostrud exion ullaoaris nisi ut aliquipa ex ea commodo consequat aute irure dolor.",
			speaker_event: speakers_list[0[name]]
		},
		{
			day_number: day_number_list.day_1,
			data_event: data_event_list.data_1,
			time_event: "09:30 am - 10:30 am",
			title_event: "Gathering & Welcome Speech",
			description_event: "8Consectetur adipisicing elit sed do eiusmod tempor incididunt labore dolore magna " +
			"aliqua enim ad minim veniam quis nostrud exion ullaoaris nisi ut aliquipa ex ea commodo consequat aute irure dolor.",
			speaker_event: speakers_list[1[name]]
		}
		]
	},
	{
		hall_name: "Splash hall",
		tab_index: "tab-5",
		event_list: [
		{
			day_number: day_number_list.day_1,
			data_event: data_event_list.data_1,
			time_event: "09:00 am - 09:30 am",
			title_event: "Gathering & Welcome Speech",
			description_event: "9Consectetur adipisicing elit sed do eiusmod tempor incididunt labore dolore magna " +
			"aliqua enim ad minim veniam quis nostrud exion ullaoaris nisi ut aliquipa ex ea commodo consequat aute irure dolor.",
			speaker_event: speakers_list[0[name]]
		},
		{
			day_number: day_number_list.day_1,
			data_event: data_event_list.data_1,
			time_event: "09:30 am - 10:30 am",
			title_event: "Gathering & Welcome Speech",
			description_event: "10Consectetur adipisicing elit sed do eiusmod tempor incididunt labore dolore magna " +
			"aliqua enim ad minim veniam quis nostrud exion ullaoaris nisi ut aliquipa ex ea commodo consequat aute irure dolor.",
			speaker_event: speakers_list[1[name]]
		}
		]
	}
	];
