doctype
html
	head
		link(rel="stylesheet" href="responsive-tabs.css")



	body
		include _variables
		include tabs


		script(src="https://code.jquery.com/jquery-3.2.1.min.js")
		script(src="responsiveTabs.js")
		script(src="layout.js")




