include _variables

// Вкладки
mixin event_tabs (event_tabs)
	li
		a(href="#" + event_tabs.tab_index)=event_tabs.hall_name



#responsiveTabs
	ul
		for event_tabs in conference
			+event_tabs(event_tabs)


